.biorhythm-header {
  font-family: monospace;
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
}

.biorhythm-table {
  font-family: monospace;
  font-size: 0.7rem;
}

.biorhythm-table td {
  padding-right: 0.2rem;
}

.biorhythm-graph {
  font-family: monospace;
  font-size: 0.3rem;
}

.biorhythm-physical {
  color: red;
}

.biorhythm-emotional {
  color: green;
}

.biorhythm-intellectual {
  color: blue;
}

.biorhythm-divisor {
  background-color: aqua;
}